@media only screen and (min-width: 1018px){
	.menu-folding,
	#language-folding{
		display: none;
	}
}


@media only screen and (max-width: 768px){ /*タブレット向けサイズ*/

	
	.menu-folding{
		display: block;	
	}
	
	h1, #language{
		text-align: center;
		float: none;
	}
	
	#language{
		width: 100%;
		margin: 0 auto;
	}
	
	
	
	.menus img{
		width: 240px;
		height: 216px;
		object-fit: cover;
	}
	
	
	
	h3{
		font-size: 18px;	
	}
	
	#party_img{
		width: 88%;
		height: auto;
	}
}


@media only screen and (max-width: 400px){ /*スマホ向けサイズ*/

	body{
		font-size: 13px;
	}
	
	#language-folding{
		display: block;
	}
	
	.menus img{
		width: 180px;
		height: 144px;
		object-fit: cover;
	}

}
